
h2{
/*  text-align: center;*/
}
h3{
/*  text-align: center;*/
}

html, body, h1, h2, h3, p, a, img, ul, li, main, canvas, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
    background-color: #f1f1f1;
    /*padding: 30px; */
    text-align: center;
    font-size: 35px;
}

main {
    height: 760px;
    width: 820px;
    background-color: grey; /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, white, white, lightgrey);
}

ul {

}
