
/*html, body, h1, h2, h3, p, a, img, ul, li, main, div, canvas, footer, header {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  vertical-align: baseline;
}*/

header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: left;
    font-size: 35px;
}
h2 {
  text-decoration-color: red;
  font-size: 1.65em;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  font-size: 0.65em;
  font-family: "Courier New", Courier, monospace;
}
main {
      background-image: radial-gradient(circle, white,lavender, dimgrey);
}
/*animation example originally
from https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_speed*/
div {
    width: 60px;
    height: 60px;
      /* background-color: white;
    font-weight: bold;
    position: relative;*/
    position: absolute;
  /* left: 0;
   top: 100%;
   width: 100%;*/
   text-align: center;
   font-size: 28px;

   animation: mymove 2s ;

}
#div1 {animation-timing-function: linear;
  left: 35%;
  top: 20%;
  }
#div2 {animation-timing-function: ease;
  left: 35%;
  top: 30%;
  }
#div3 {animation-timing-function: ease-in;
  left: 35%;
  top: 40%;
}
#div4 {animation-timing-function: ease-out;
  left: 35%;
  top: 50%;
}
#div5 {animation-timing-function: ease-in-out;
  left: 35%;
  top: 60%;
}
#div6 {animation-timing-function: linear;
  left: 35%;
  top: 70%;
  }
#div7 {animation-timing-function: ease-in;
  left: 35%;
  top: 80%;
}


@keyframes mymove {
    from {left: 0%;}
    to {left: 35%;}
}

.menu {
    border-radius: 250px;
    background: grey; #73AD21;
    background-image: radial-gradient(circle, grey, lightgrey, white);
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    /*min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;*/
    z-index: 1;
}
.dropdown-content a {
   color: black;

    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.menu:hover  .dropdown-content{
    display: block;
    opacity: 0.7;
    /*border-radius: 150px;*/
    background-color: #3e8e41;

}



p {
  font-size: 1.0em;
  font-family: "Courier New", Courier, monospace; Arial, Helvetica, sans-serif;
  color: green;
  text-align: right;
  text-shadow: 0 0 5px #000000;
}

p1 {
  font-size: 0.65em;
  font-family: "Courier New", Courier, monospace;
  color: green;
  width:180;

}
footer{
  font-size: 0.65em;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}
